<%= render 'layouts/dilemma_header', {dilemma: @dilemma} %>
<p>tags: <%= render 'layouts/dilemma_tags', {dilemma: @dilemma} %></p>

<table>
  <tr>
    <th>options</th>
    <th>total points</th>
  </tr>
  <% @dilemma.options.each do |opt| %>
    <tr>
      <td><%= "#{opt.name}"%></td>
      <td><%= "#{opt.total_points}" %></td>
      <td><%= link_to "view", dilemma_option_path(@dilemma, opt) %></td>
      <td><%= link_to "delete", dilemma_option_path(@dilemma, opt), method: "delete" if author_check(@dilemma.author) %></td>
    </tr>
  <% end %>
</table>

<% if author_check(@dilemma.author) %>
  <%= link_to "add new option", new_dilemma_option_path(@dilemma) %>
  <br>

  <%= link_to "edit", edit_dilemma_path(current_user.current_dilemma) %> | <%= link_to "delete this dilemma", dilemma_path(@dilemma), method: "delete" %>
<% end %>
<br>
<br>

<div id="comment_text"></div>

<div id="comment_table" data-dilemma-id="<%= @dilemma.id %>" data-author-id="<%= @dilemma.author.id %>" data-current-user-id="<%= current_user.id %>">
  <table>
    <tr id="comment_header_row">
      <th>user</th>
      <th>comment</th>
    </tr>
      <!-- js adds old comments here -->
      <!-- js adds new comments here -->

    <tr id="comment_create_row">
      <td></td>
      <td>
        <%= form_for @dilemma.comments.new do |com| %>
          <%= com.hidden_field :dilemma_id, value: @dilemma.id %>
          <%= com.hidden_field :commenter_id, value: current_user.id %>
          <%= text_area :comment, :content, value: "add a new comment" %><br>
          <input type="submit" name="commit" value="Create Comment" data-disable-with="Create Comment" id="new_comment">
        <% end %>
      </td>
    </tr>
  </table>
</div>  <!-- comment_table -->

<script type="text/javascript">
  getAndDisplayComments();
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

<script type="text/x-handlebars-template" id="comment-template">
  <tr>
    <td>{{email}}</td>
    <td>{{content}}</td>
    {{#if boolean}}
      <td><a rel='nofollow' data-method='delete' href="/comments/{{id}}">delete</a></td>
    {{/if}}
  </tr>
</script>